<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.Tests.FluidConsumption</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createFluidEventDuplicateDataVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteFluidConsumptionVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createFluidConsumptionVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createPositionVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createFluidConsumptionBlankDataVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getFluidConsumptionByIdVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getAllEventFluidConsumptionVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createFluidConsumptionDuplicateDataVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getAllFluidConsumptionVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createFluidEventBlankDataVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateFluidConsumptionDuplicateDataVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createEventVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateEventFluidConsumptionVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createFluidEventVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateFluidConsumptionVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getTestData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
