<h2>Methods that were not run</h2><table>
<tr><td>com.Tests.FluidConsumption.createFluidConsumptionBlankDataVerify<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>create fluid consumption without request body</i></td></tr>
<tr><td>com.Tests.FluidConsumption.deleteFluidConsumptionVerify<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>update fluid consumption with duplicate data</i></td></tr>
<tr><td>com.Tests.FluidConsumption.updateFluidConsumptionDuplicateDataVerify<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>update fluid consumption with duplicate data</i></td></tr>
<tr><td>com.Tests.FluidConsumption.createFluidConsumptionDuplicateDataVerify<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>create fluid consumption with duplicate data</i></td></tr>
<tr><td>com.Tests.FluidConsumption.getAllFluidConsumptionVerify<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>get all the fluid consumption</i></td></tr>
<tr><td>com.Tests.FluidConsumption.createFluidEventVerify<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>create event fluid consumption </i></td></tr>
<tr><td>com.Tests.FluidConsumption.createPositionVerify<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>create position</i></td></tr>
<tr><td>com.Tests.FluidConsumption.getAllEventFluidConsumptionVerify<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>check all  fluid consumption</i></td></tr>
<tr><td>com.Tests.FluidConsumption.getFluidConsumptionByIdVerify<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>get the fluid consumption</i></td></tr>
<tr><td>com.Tests.FluidConsumption.createFluidEventDuplicateDataVerify<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>create event fluid consumption with duplicate data</i></td></tr>
<tr><td>com.Tests.FluidConsumption.updateFluidConsumptionVerify<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>update fluid consumption</i></td></tr>
<tr><td>com.Tests.FluidConsumption.createFluidEventBlankDataVerify<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>create event fluid consumption with blank request body</i></td></tr>
<tr><td>com.Tests.FluidConsumption.updateEventFluidConsumptionVerify<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Update fluid consumption</i></td></tr>
<tr><td>com.Tests.FluidConsumption.createEventVerify<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>create event</i></td></tr>
</table>