<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Haud</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bb68b1">  <td>20/02/27 11:48:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FluidConsumption.setClass()[pri:0, instance:com.Tests.FluidConsumption@3a1dd365]">&gt;&gt;setClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1268974304</td>   <td></td> </tr>
<tr bgcolor="aebba3">  <td>20/02/27 11:48:06</td>   <td>179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.getTestData(java.lang.reflect.Method)[pri:0, instance:com.Tests.FluidConsumption@3a1dd365]">&gt;&gt;getTestData</td> 
<td>&nbsp;</td>  <td>main@1268974304</td>   <td></td> </tr>
<tr bgcolor="bb68b1">  <td>20/02/27 11:48:06</td>   <td>312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FluidConsumption.setUp(java.lang.reflect.Method)[pri:0, instance:com.Tests.FluidConsumption@3a1dd365]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1268974304</td>   <td></td> </tr>
<tr bgcolor="bb68b1">  <td>20/02/27 11:48:06</td>   <td>312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FluidConsumption.createFluidConsumptionVerify(java.lang.reflect.Method)[pri:2, instance:com.Tests.FluidConsumption@3a1dd365]">createFluidConsumptionVerify</td> 
  <td>main@1268974304</td>   <td></td> </tr>
</table>
